.redesign-wrapper {
.article-slider {
  display: block;
  box-sizing: border-box;
  position: relative;
  
  max-width: 1250px;
  margin: auto;
  padding: 60px 20px;

  overflow: hidden;

  @media (max-width: 768px) {
    padding: 40px 10px;
  }

  &__container{
    position: relative;
  }

  &__title{
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #25282E;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: 1100px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    
  }

  &__img{
    height: 320px;
    width: 320px;
    margin: 0 auto;

    overflow: hidden;
    border-radius: 8px;

    & img{
      height: 100%;
      width: 100%;

      object-fit: cover;
    }

    @media (max-width: 1100px) {
      height: 205px;
      width: 205px;
    }

  }

  &__text{

    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;

    margin-top: 15px;

    text-align: center;

    @media (max-width: 1100px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }
  
}
}