mixin popup(data)
    if (data === 'search')
        section.popup.js-popup(data-popup='search')
            .popup__mask.js-popup-mask
                include ../../../static/img/svg/down-arrows-icon.svg
            .popup__inner-wrapper.js-popup-track
                .popup__inner
                    button.popup__close-btn.js-popup-close-btn 
                    .popup__title Поиск
                    .popup__search
                        span.popup__search-circles
                        input.popup__search-input.search-input.js-search-input(value="Звукоизоляция" placeholder="Поиск")
                        button.popup__search-btn
                            include ../../../static/img/svg/zoom-icon.svg
                    ul.popup__result-list.search-res.js-popup-search-result
                        li.search-res__item 
                            a.search-res__item-link(href="/") Звукоизоляция
                            .search-res__item-text Фронт Акустик. Звукоизоляция квартир, потолков, полов. Продажа звукоизоляционных материалов. Занимаемся всеми вопросами по звукоизоляции.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Оплата товара
                            .search-res__item-text Оплатить выбранные товары можно в офисе Front Acoustic, на сайте во время оформления заказа или при доставке материалов. Мы принимаем наличные и банковские карты.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Двери для гостиниц и отелей HUGA
                            .search-res__item-text Звукоизоляционные двери для гостиниц, двери для отелей, заказать, купить двери в номера гостиниц с доставкой

                        li.search-res__item 
                            a.search-res__item-link(href="/") Звукоизоляция
                            .search-res__item-text Фронт Акустик. Звукоизоляция квартир, потолков, полов. Продажа звукоизоляционных материалов. Занимаемся всеми вопросами по звукоизоляции.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Оплата товара
                            .search-res__item-text Оплатить выбранные товары можно в офисе Front Acoustic, на сайте во время оформления заказа или при доставке материалов. Мы принимаем наличные и банковские карты.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Двери для гостиниц и отелей HUGA
                            .search-res__item-text Звукоизоляционные двери для гостиниц, двери для отелей, заказать, купить двери в номера гостиниц с доставкой
                        li.search-res__item 
                            a.search-res__item-link(href="/") Звукоизоляция
                            .search-res__item-text Фронт Акустик. Звукоизоляция квартир, потолков, полов. Продажа звукоизоляционных материалов. Занимаемся всеми вопросами по звукоизоляции.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Оплата товара
                            .search-res__item-text Оплатить выбранные товары можно в офисе Front Acoustic, на сайте во время оформления заказа или при доставке материалов. Мы принимаем наличные и банковские карты.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Двери для гостиниц и отелей HUGA
                            .search-res__item-text Звукоизоляционные двери для гостиниц, двери для отелей, заказать, купить двери в номера гостиниц с доставкой
                        li.search-res__item 
                            a.search-res__item-link(href="/") Звукоизоляция
                            .search-res__item-text Фронт Акустик. Звукоизоляция квартир, потолков, полов. Продажа звукоизоляционных материалов. Занимаемся всеми вопросами по звукоизоляции.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Оплата товара
                            .search-res__item-text Оплатить выбранные товары можно в офисе Front Acoustic, на сайте во время оформления заказа или при доставке материалов. Мы принимаем наличные и банковские карты.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Двери для гостиниц и отелей HUGA
                            .search-res__item-text Звукоизоляционные двери для гостиниц, двери для отелей, заказать, купить двери в номера гостиниц с доставкой
                        li.search-res__item 
                            a.search-res__item-link(href="/") Звукоизоляция
                            .search-res__item-text Фронт Акустик. Звукоизоляция квартир, потолков, полов. Продажа звукоизоляционных материалов. Занимаемся всеми вопросами по звукоизоляции.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Оплата товара
                            .search-res__item-text Оплатить выбранные товары можно в офисе Front Acoustic, на сайте во время оформления заказа или при доставке материалов. Мы принимаем наличные и банковские карты.
                        li.search-res__item 
                            a.search-res__item-link(href="/") Двери для гостиниц и отелей HUGA
                            .search-res__item-text Звукоизоляционные двери для гостиниц, двери для отелей, заказать, купить двери в номера гостиниц с доставкой