mixin gallery-tile(data)
    section.gallery-tile
        h3.gallery-tile__title Примеры проектов по звукоизоляции в аудитории
        .gallery-tile__container
        
            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_1.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_2.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_3.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания
        
            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_1.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_2.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_3.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_2.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_3.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания
        
            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_1.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_2.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания

            .gallery-tile__item
                .gallery-tile__content
                    .gallery-tile__img
                        img(src="/img/tile_3.jpg")
                    .gallery-tile__text Улучшение акустического пространства в помещении для совещания