.gallery-tile {
  display: block;
  padding: 30px 15px;
  max-width: 1920px;
  margin: auto;

  &__container{
    display: flex;
    flex-wrap: wrap;
  }

  &__title{
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #25282E;
    text-align: center;
    margin-bottom: 15px;

    @media (max-width: 1100px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__content{
    background-color: #E5E5E5;
    border-radius: 20px;

    height: 100%;

    display: flex;
    flex-direction: column;
  }

  &__item{
    padding: 15px;

    &:nth-child(odd){
      & .gallery-tile__content{
        flex-direction: column-reverse;
      } 
    }

    &:nth-child(3n+1){
      width: 40%;
    }

    &:nth-child(3n+2){
      width: 35%;
    }

    &:nth-child(3n+3){
      width: 25%;
    }

    &:nth-child(6n+1){
      width: 20%;
    }

    &:nth-child(6n+2){
      width: 50%;
    }

    &:nth-child(6n+3){
      width: 30%;
    }

    @media (max-width: 1100px) {
      &:nth-child(2n+1){
        width: 60%;
      }
  
      &:nth-child(2n+2){
        width: 40%;
      }

      &:nth-child(4n+1){
        width: 40%;
      }
  
      &:nth-child(4n+2){
        width: 60%;
      }
    }

    @media (max-width: 768px) {
      width: 100%!important;

      & .gallery-tile__content{
        flex-direction: column!important;
      }
    }
  }

  &__text{
    padding: 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: auto;

    color: #000000;

    @media (max-width: 1100px) {
      font-size: 16px;
      padding: 10px;
    }
  }

  &__img{
    overflow: hidden;
    border-radius: 20px;

    height: 374px; // htasdfsadfasdfa

    & img{
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }
}