mixin header()
    header.header.js-header
        .header__top 
            .header__container
                a.header__top-logo.logo-link(href="/") 
                    img.logo-link__img(src="../img/logo/logo.png" alt="logo")
                button.header__top-search.search-btn.js-popup-btn(data-popup='search')
                    include ../../../static/img/svg/zoom-icon.svg
                button.header__top-burger.burger-btn.js-burger-btn
                    span
                nav.header__top-nav.js-header-nav
                    .header__top-nav-wrapper.js-header-menu-wrapper
                        ul.header__top-nav-list.header-top-menu.js-header-menu
                            li.header-top-menu__item.js-header-menu-tab
                                button.header-top-menu__item-btn.js-header-menu-tab-trigger(data-href="/") Услуги
                                .header-top-menu__item-submenu.js-header-menu-tab-content.header-top-submenu
                                    button.header-top-submenu__back-btn.js-header-menu-back-btn Назад
                                    a.header-top-submenu__title(href="/") Услуги
                                    ul.header-top-menu__item-submenu-list.header-top-submenu__list.js-header-menu-track
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Услуги
                            li.header-top-menu__item.js-header-menu-tab
                                button.header-top-menu__item-btn.js-header-menu-tab-trigger(data-href="/") Типовые проблемы
                                .header-top-menu__item-submenu.js-header-menu-tab-content.header-top-submenu
                                    button.header-top-submenu__back-btn.js-header-menu-back-btn Назад
                                    a.header-top-submenu__title(href="/") Типовые проблемы
                                    ul.header-top-menu__item-submenu-list.header-top-submenu__list.js-header-menu-track
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Типовые проблемы
                            li.header-top-menu__item.js-header-menu-tab
                                button.header-top-menu__item-btn.js-header-menu-tab-trigger(data-href="/") Офисы
                                .header-top-menu__item-submenu.js-header-menu-tab-content.header-top-submenu
                                    button.header-top-submenu__back-btn.js-header-menu-back-btn Назад
                                    a.header-top-submenu__title(href="/") Офисы
                                    ul.header-top-menu__item-submenu-list.header-top-submenu__list.js-header-menu-track
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Санкт-Петербург
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Москва
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы
                                        li.header-top-submenu__list-item 
                                            a.header-top-submenu__list-item-link(href="/") Офисы

                        //- ul.header__cities.cities-list
                        //-     li.cities-list__item 
                        //-         a.cities-list__item-link(href="/") Санкт-Петербург
                        //-     li.cities-list__item 
                        //-         a.cities-list__item-link(href="/") Москва

                        ul.header__bottom-menu.header-bottom-menu.header-bottom-menu--mobile
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Готовые решения
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Материалы
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Звукоизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Акустика
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Виброизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Наши проекты

                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Готовые решения
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Материалы
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Звукоизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Акустика
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Виброизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Наши проекты
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Готовые решения
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Материалы
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Звукоизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Акустика
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Виброизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Наши проекты
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Готовые решения
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Материалы
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Звукоизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Акустика
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Виброизоляция
                            li.header-bottom-menu__item
                                a.header-bottom-menu__item-link(href="/") Наши проекты

                    ul.header__top-nav-contacts.contacts-list 
                        li.contacts-list__item 
                            a.contacts-list__item-link(href="tel:88126057095") +7-812-605-70-95
                        li.contacts-list__item 
                            a.contacts-list__item-link.contacts-list__item-link--grey(href="mailto:info@frontacoustic.ru") info@frontacoustic.ru

                    .header__top-nav-mask.js-header-mask

        .header__bottom
            .header__container
                ul.header__bottom-menu.header-bottom-menu 
                    li.header-bottom-menu__item
                        a.header-bottom-menu__item-link(href="/") Готовые решения
                    li.header-bottom-menu__item
                        a.header-bottom-menu__item-link(href="/") Материалы
                    li.header-bottom-menu__item
                        a.header-bottom-menu__item-link(href="/") Звукоизоляция
                    li.header-bottom-menu__item
                        a.header-bottom-menu__item-link(href="/") Акустика
                    li.header-bottom-menu__item
                        a.header-bottom-menu__item-link(href="/") Виброизоляция
                    li.header-bottom-menu__item
                        a.header-bottom-menu__item-link(href="/") Наши проекты
                
