.redesign-wrapper {
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;

    &__container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 855px;
        animation: squeeze-change-max-width 0.3s;

        @include _576 {
            padding: 0 10px;
        }
    }

    &__top {
        background: #25282E;

        &-search {
            align-self: center;
            margin-left: 40px;

            @include _1100 {
                margin-left: auto;
            }
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 20px;
            width: 100%;
            height: 100%;
            transition: transform 0.3s;

            @include _1100 {
                position: fixed;
                // bottom: 0; 
                top: 53px;
                right: 0;
                justify-content: space-between;
                margin: 0;
                padding-top: 10px;
                padding-right: 10px;
                width: 75%;
                height: calc(100% - 53px);
                flex-direction: column;
                background: #565E6D;
                transform: translate(100%, 0);
                
                &.active {
                    // transform: translate(0, 100%);
                    transform: translateX(0);
                }
            }

            
            &-mask {
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                width: 100%;
                height: calc(100% - 80px);
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) 80.61%, rgba(136, 142, 152, 0) 80.61%, rgba(134, 140, 151, 0.4) 100%);
                opacity: 0;
                pointer-events: none;
                z-index: 12;
                transition: opacity 0.3s;

                &.top,
                &.middle {
                    opacity: 1;
                }

                &.bottom {
                    opacity: 0;
                }

                @include _1100 {
                    display: block;
                }
            }

            &-wrapper {
                @include _1100 {
                    padding: 5px 0 0;
                    width: 100%;
                    height: 100%;
                    // overflow: hidden;
                    overflow-y: auto;
                    overflow-x: hidden;
            
                    &::-webkit-scrollbar {
                        padding-right: 10px;
                        width: 4px;
                        height: calc(100vh - 10px * 2);
                        background-color: #AFAFAF;
                        border-radius: 100px;
                    }
            
                    &::-webkit-scrollbar-thumb {
                        background-color: #fff;
                        border-radius: 100px;
                    }

                    &.open {
                        padding-right: 0;
                        // z-index: 13;

                        & ~ .header__top-nav-mask {
                            opacity: 0;
                        }
                    }
                }
            }

            &-contacts {
                margin-left: 20px;

                @include _1100 {
                    margin: 0;
                }
            }
        }
    }

    &__bottom {
        background: #353942;
    }
}

.logo-link {
    box-sizing: content-box;
    display: flex;
    width: 166px;
    height: 47px;

    @include _1100 {
        padding: 15px 0;
        height: 23px;
        width: 80px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.search-btn {
    display: flex;
    padding: 0;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    border: none;
    background-color: transparent;

    &:hover {
        & svg path {
            stroke: #00B3FF;
        }
    }

    & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;

        & path {
            transition: stroke 0.3s;
        }
    }
}

.burger-btn {
    display: none;
    position: relative;
    flex-direction: column;
    border: none;
    padding: 0;
    width: 23px;
    height: 12px;
    background-color: transparent;

    @include _1100 {
        display: flex;
        margin-left: 18px;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 100px;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 100px;
        transition:  transform 0.3s;
    }

    &::before {
        top: 0;
        transform: translateX(-50%);
    }

    &::after {
        bottom: 0;
        transform: translateX(-50%);
    }

    &.active {
        span {
            opacity: 0;
        }

        &::before {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    
        &::after {
            bottom: 50%;
            transform: translate(-50%, 50%) rotate(-45deg);
        }
    }
}

.contacts-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    @include _1100 {
        padding: 20px;
        padding-top: 30px;
        height: auto;
    }

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &-link {
            flex-shrink: 0;
            color: #FFF;
            font-size: 18px;
            transition: color 0.3s;

            @include _1100 {
                font-size: 16px;
            }

            &:hover {
                color: #00B3FF;
            }

            &--grey {
                color: #AFAFAF;
                font-size: 15px;

                @include _1100 {
                    font-size: 13px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.header-top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    @include _1100 {
        flex-direction: column;
        justify-content: unset;
        width: 100%;
        height: auto;
    }

    &.open {
        @include _1100 {
            .header-top-submenu {
                top: 0;
                // height: 100%;
                height: calc(100% - 80px);
                overflow: hidden;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        height: 100%;

        @include _1100 {
            position: unset;
            padding-left: 20px;
            height: auto;
        }

        &:hover {
            @include min_1100 {
                .header-top-menu__item-btn {
                    color: #00B3FF; 
                }
    
                .header-top-menu__item-submenu {
                    display: flex;
                    z-index: 11;
                }
            }
        }

        &.open {
            @include _1100 {
                .header-top-menu__item-btn {
                    color: #00B3FF; 
                }
    
                .header-top-menu__item-submenu {
                    display: flex;
                    z-index: 11;
                    right: 0;
                    transform: none;
                }
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 33px 20px;
            height: 100%;
            border: none;
            background-color: transparent;
            color: #FFF;
            font-size: 15px;
            transition: color 0.3s;
            animation: squeeze-padding-top-menu 0.3s;

            @include _1100 {
                padding: 10px 0;
                font-size: 12px;
            }

            &::after {
                content: '';
                display: none;
                margin-left: 15px;
                flex-shrink: 0;
                width: 7px;
                height: 11px;
                background: url('./img/svg/white-arrow.svg') center no-repeat;
                background-size: contain;

                @include _1100 {
                    display: block;
                }
            }

            &:hover {
                color: #00B3FF;
            }
        }

        &-submenu {
            display: none;
            position: absolute;
            left: 50%;
            bottom: 0;
            flex-direction: column;
            width: calc(100% + 20px * 2);
            transform: translate(-50%, 100%);

            @include _1100 {
                display: flex;
                left: unset;
                right: -10px;
                top: 0;
                width: 100%;
                transition: transform 0.3s;
                transform: translateX(100%);
            }
        }
    }
}

.header-top-submenu {
    padding: 10px 20px;
    background-color: #565E6D;
    border-radius: 0 0 20px 20px;

    @include _1100 {
        padding: 15px 10px 0 20px;
        height: calc(100% - 80px);
        border-radius: 0;
        overflow: hidden;
    }

    &__list {
        @include _1100 {
            padding-left: 20px;
            margin-left: -20px;
            width: calc(100% + 20px + 10px);
            height: 100%;
            overflow: auto;
            z-index: 1;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            background: linear-gradient(180deg, rgba(196, 196, 196, 0) 80.61%, rgba(136, 142, 152, 0) 80.61%, rgba(134, 140, 151, 0.4) 100%);
            transition: opacity 0.3s;
            z-index: 12;
        }

        &.bottom {
            &::before {
                opacity: 0;
            }
        }

        &.top,
        &.middle {
            &::before {
                opacity: 1;
            }
        }

        &-item {
            display: flex;
            align-items: center;
    
            &-link {
                flex-shrink: 0;
                padding: 10px;
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 15px;
                transition: color 0.3s;

                @include _1100 {
                    padding: 10px 0;
                    text-align: unset;
                    font-size: 12px;
                }
    
                &:hover {
                    color: #00B3FF;
                }
            }
        }
    }

    &__title {
        display: none;
        padding: 18px 0;
        color: #01A1E0;
        background: rgba(37, 40, 46, 0.8);
        margin-left: -20px;
        padding-left: 20px;
        width: calc(100% + 20px * 2);
        font-weight: normal;
        font-size: 14px;

        @include _1100 {
            display: block;
        }
    }

    &__back-btn {
        display: none;
        align-items: center;
        padding: 10px 0;
        width: fit-content;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 12px;
        transition: color 0.3s;
        z-index: 1;

        @include _1100 {
            display: flex;
        }

        &:hover {
            color: #00B3FF;
        }

        &::after {
            content: '';
            display: block;
            margin-left: 10px;
            flex-shrink: 0;
            width: 7px;
            height: 11px;
            background: url('./img/svg/white-arrow.svg') center no-repeat;
            background-size: contain;
            transform: rotate(180deg);
        }
    }
}

.header-bottom-menu {
    display: flex;
    align-items: center;
    margin-left: -20px;
    width: calc(100% + 20px);

    @include _1100 {
        display: none;
        align-items: unset;
        margin-left: 0;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        background-color: #353942;

        @include _1100 {
            padding-left: 20px;
        }

        &:not(:first-child):not(:last-child) {
            background-color: #2D3038;
        }

        &-link {
            padding: 20px;
            font-size: 15px;
            line-height: 18px;
            color: #FFF;
            transition: color 0.3s;

            @include _1100 {
                padding: 10px 0;
                font-size: 12px;
            }

            &:hover {
                color: #00B3FF;
            }
        }
    }
}

.cities-list {
    display: none;

    @include _1100 {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        padding-left: 20px;

        &-link {
            padding: 10px 0;
            font-size: 12px;
            color: #FFFFFF;
            transition: color 0.3s;

            &:hover {
                color: #00B3FF;
            }
        }
    }
}

.header-bottom-menu--mobile {
    display: none;

    @include _1100 {
        display: flex;
        flex-direction: column;
    }

    .header-bottom-menu__item {
        background-color: #565E6D !important;
    }
}

.header.modify {
    height: 98px;

    .header__container {
        max-width: 1100px;
        height: 100%;
        animation: expand-change-max-width 0.3s;
    }

    .header__top {
        position: relative;
        height: 100px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 50%;
            height: 50%;
            right: 0;
            bottom: 0;
            background-color: #353942;
            z-index: 0;

            @include _1100 {
                display: none;
            }
        }

        &-logo {
            flex-shrink: 0;
        }

        &-search {
            margin-left: 50px;
            align-self: flex-start;
            height: 50px;
        }

        &-nav {
            align-self: flex-start;
            justify-content: start;
            height: 50px;
        }
    }



    .header-top-menu__item-btn {
        padding: 15px 20px;
        animation: expand-padding-top-menu 0.3s;
    }

    .header__top-nav-contacts {
        flex-direction: row;
        
        .contacts-list__item {
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 40px;
            }
        }
    }

    .header-bottom-menu {
        margin-top: -50px;
        padding-left: 216px;
        animation: move-bottom-menu 0.3s;
        width: 100%; 
        z-index: 1;

        &__item-link {
            padding: 16px 20px;
        }
    }
}


@keyframes move-bottom-menu {
    from { 
        margin-top: 0;
        margin-left: -20px; 
        width: calc(100% + 20px);
    }
    to { 
        margin-top: -50px;
        padding-left: 216px;
        width: 100%; 
    }
}

@keyframes expand-padding-top-menu {
    from { padding: 33px 20px; }
    to { padding: 15px 20px; }
}

@keyframes squeeze-padding-top-menu {
    from { padding: 15px 20px; }
    to { padding: 33px 20px; }
}

@keyframes expand-change-max-width {
    from { max-width: 855px; }
    to { max-width: 1100px; }
}

@keyframes squeeze-change-max-width {
    from { max-width: 1100px; }
    to { max-width: 855px; }
}
}