extends template/_layout

//- include ../components/Common/header/header
//- include ../components/Common/footer/footer

block vars
    - var title = "Страница записи";
    //- - var bodyclass = 'page-main';

block content
    //- +header()

    //- +footer()


