extends template/_layout

include ../components/Common/popup/popup
include ../components/Common/header/header
include ../components/Sections/text-content/text-content
include ../components/Sections/indicator/indicator
include ../components/Sections/video/video
include ../components/Common/footer/footer

block vars
    - var title = "Frontacoustic";
    //- - var bodyclass = 'page-main';

block content
    +popup('search')
    +header()

    main.main
        +text-content()
        +indicator()
        +video()

    +footer()
