mixin video(data)
    section.video.bg-black
        .spec-container
            h2 Видео по теме звукоизоляции в аудитории
            .video__modal
                iframe(width="560" height="315" src="https://www.youtube.com/embed/yzUJjLIfQQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)