mixin video(data)
    section.video.bg-black
        .container  
            h2 Видео по теме звукоизоляции в аудитории
            .video__modal
                iframe(src='https://www.youtube.com/embed/21qNxnCS8WU' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')