.redesign-wrapper {
.indicator {
    padding: 45px 0;
    // margin-bottom: 60px;

    @include _768 {
        padding: 35px 0;
    }

    @include _576 {
        // margin-bottom: 40px;
        padding: 15px 0;
    }
}

.indicator ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    height: 100%;

    @include _1024 {
        justify-content: space-around;
    }

    @include _768 {
        font-size: 20px;
    }
}

.indicator ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 15px;
    // height: 100%;
    height: 215px;
    width: 310px;

    // @include _1024 {
    //     &:first-child {
    //         margin-right: auto;
    //     }
    // }
}

.indicator ul li img {
    margin-top: auto;
    margin-bottom: 5px;
    object-fit: contain;
    object-position: center;
}

.indicator ul li p {
    margin-top: auto;
    margin-bottom: auto;
}
}