include ../../Common/path/path

mixin text-content(data)
    - var paths = ['Главная', 'Материалы']
    sections.text-content 
        .spec-container
            +path(paths)
            .text-content__hero 
                .text-content__slider-container
                    .text-content__mainCarousel.carousel.js-text-content-mainCarousel
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_1.png")
                            img(src="/img/tcs_1.png")
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_2.png")
                            img(src="/img/tcs_2.png")
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_3.png")
                            img(src="/img/tcs_3.png")
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_4.png")
                            img(src="/img/tcs_4.png")
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_5.png")
                            img(src="/img/tcs_5.png")
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_6.png")
                            img(src="/img/tcs_6.png")
                        .text-content__slide.carousel__slide(data-fancybox="gallery" data-src="/img/tcs_7.png")
                            img(src="/img/tcs_7.png")

                    .text-content__thumbCarousel.js-text-content-thumbCarousel
                        .text-content__slide.carousel__slide(data-src="/img/tcs_1.png")
                            img(src="/img/tcs_1.png")
                        .text-content__slide.carousel__slide(data-src="/img/tcs_2.png")
                            img(src="/img/tcs_2.png")
                        .text-content__slide.carousel__slide(data-src="/img/tcs_3.png")
                            img(src="/img/tcs_3.png")
                        .text-content__slide.carousel__slide(data-src="/img/tcs_4.png")
                            img(src="/img/tcs_4.png")
                        .text-content__slide.carousel__slide(data-src="/img/tcs_5.png")
                            img(src="/img/tcs_5.png")
                        .text-content__slide.carousel__slide(data-src="/img/tcs_6.png")
                            img(src="/img/tcs_6.png")
                        .text-content__slide.carousel__slide(data-src="/img/tcs_7.png")
                            img(src="/img/tcs_7.png")

                .text-content__desc 
                    h3 Отделка и звукоизоляция конференц-залов
                    p Аудитории, предназначенные для публичных лекций и презентаций, должны быть комфортными в плане акустики. Это касается, в первую очередь, комфортной разборчивости речи — во время выступления зрители должны четко слышать докладчика. Идеальная акустика, а также поглощение лишних внешний шумов, достигается при помощи грамотно разработанного проекта по акустике и использования специальных акустических отделочных материалов.
            .text-content__desc 
                h3 Проектирование конференц-залов и аудиторий
                p Проблемы, связанные с акустикой помещения, лучше всего предусмотреть и решить на этапе проектирования помещения. Это поможет не прибегать к работам по замене отделки, изменению электротехнической схемы и другим дорогостоящим процедурам в будущем. 
                ul 
                    li В дизайн-проект и смету необходимо внести пункты об использовании звукопоглощающих материалов, которые предотвратят попадание внутрь аудитории внешних шумов.
                    li Нужно предусмотреть дополнительные средства звуко- и виброизоляции коммунальных и технических элементов, расположенных поблизости — например, вентиляционных и климатических систем.
                    li Схема расположения акустических, световых и других приборов в аудитории должна составляться с учетом формы помещения и наличия внутренних элементов — например, колонн.
                p При грамотно составленном проекте будет достигнут максимальный акустический комфорт — как зрителей, так и выступающих.
            
            .text-content__desc 
                h3 Улучшение акустики и звукоизоляции конференц-залов и аудиторий

                colfield
                    b Комментарий специалиста Фронт Акустик: 
                    | Скорее всего, вы не раз замечали, во время лекции и выступления, что спикера плохо слышно, звук переотражается и накладывается друг на друга. Это как раз плохая подготовка помещения. 


                p Основным элементом, обеспечивающим нужный уровень звукоизоляции, являются специальные потолочные или стеновые панели из поглощающих материалов. У таких элементов есть преимущество — их конструкция выполнена таким образом, чтобы более или менее одинаково отражать акустические волны с разными частотами. Благодаря этому достигается приемлемое время реверберации (не более 1 секунды) вне зависимости от характеристик звука.
                p Использовать подходящие отделочные материалы необходимо не только для стен, но и для горизонтальных перекрытий — пола и потолка. Без этого не удастся достичь нужного уровня акустического комфорта. Также неплохим вариантом становится размещение дополнительных поглощающих элементов. Например, на фронтальной стене (за спиной выступающего) можно повесить акустическую штору из плотного материала — она не будет отражать звук и дополнительно его «размывать».

            .text-content__desc 
                h3 Звукоизоляция аудиторий — ключевые показатели
                p Действующий в настоящее время СП 51.13330.2011 регламентирует допустимый уровень шума не только для аудиторий, расположенных в образовательных учреждениях, но также клубах и домах культуры. Если помещение для публичных выступлений располагается вне перечисленных типов построек, этот документ не действует. В то же время, существуют рекомендации, соблюдение которых позволит обеспечить максимальный акустический комфорт в аудитории.

                button.consultation Получить консультацию
            
            h2 Звукоизоляция гостиниц и отелей – ключевые цифры
