mixin footer() 
    footer.footer
        .footer__top
            .footer__container.footer__top-container
                nav.footer__top-menu.footer-menu
                    ul.footer-menu__list
                        li.footer-menu__list-item.footer-tab.js-menu-tab
                            h3.footer-tab__title.js-menu-tab-trigger Покупателям
                            ul.footer-tab__list.js-menu-tab-content 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Прайс-лист
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Покупка и возврат
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Инструкции по монтажу
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Доставка
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Ответы на вопросы
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Тест
                        li.footer-menu__list-item.footer-tab.js-menu-tab
                            h3.footer-tab__title.js-menu-tab-trigger О нас
                            ul.footer-tab__list.js-menu-tab-content 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") О Компании
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Новости
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Наши работы
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Партерам
                        //- li.footer-menu__list-item.footer-tab.js-menu-tab
                            h3.footer-tab__title.js-menu-tab-trigger Наши услуги
                            ul.footer-tab__list.js-menu-tab-content 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Звукоизоляция стен 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Звукоизоляция под обои 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Звукоизоляция потолка  
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Звукоизоляция пола  
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Звукоизоляция под ламинат 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="/") Звукоизоляция перегородок  
                        li.footer-menu__list-item.footer-tab.footer-tab--opened
                            h3.footer-tab__title.js-menu-tab-trigger Контакты
                            ul.footer-tab__list 
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="tel:88126057095") +7-812-605-70-95
                                li.footer-tab__list-item 
                                    a.footer-tab__list-item-link(href="mailto:info@frontacoustic.ru") info@frontacoustic.ru
                                li.footer-tab__list-item 
                                    address.footer-tab__list-item-address 
                                        |ООО "Фронт Акустик"
                                        br
                                        |196084, Россия, Санкт-Петербург,
                                        br
                                        |Детский переулок д. 5, офис 327 удобная парковка
                                        br
                                        |отгружаем по всему СЗФО
                                    button.footer-tab__list-item-map.js-open-map На карте

                ul.footer__top-social.social-list 
                    li.social-list__item 
                        a.social-list__item-link(href="/")
                            img.social-list__item-link-img(src="/img/svg/vk-icon.svg" alt='vk')
                    li.social-list__item 
                        a.social-list__item-link(href="/")
                            img.social-list__item-link-img(src="/img/svg/youtube-icon.svg" alt='youtube') 
                    li.social-list__item 
                        a.social-list__item-link(href="/")
                            img.social-list__item-link-img(src="/img/svg/youtube-icon.svg" alt='youtube') 
        .footer__copyright
            .footer__container.footer__copyright-container
                span.footer__copyright-text 
                    |Copyright © 2013-2021 Фронт Акустик. Все права защищены.
                span.footer__copyright-text 
                    |При полном или частичном использовании материалов с сайта ссылка на источник обязательна.
                a.footer__copyright-privacy-policy(href="/") Политика конфиденциальности